/** Colors **/
/** Helpers **/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.hidden {
  display: none; }

.textcenter {
  text-align: center; }

.nolist {
  list-style: none;
  padding: 0; }

.compactlines {
  line-height: 1.5em; }

.align-right {
  float: right; }

/** Styles **/
html {
  background-color: white;
  /*  background-image: url(farben-grau.png); */
  color: #221f1c;
  font-family: Arial, sans-serif;
  line-height: 1.355em; }

body {
  margin: 2%; }

a {
  text-decoration: none;
  color: #979797; }

a:hover {
  color: #221f1c; }

p:last-child {
  margin-bottom: 0; }

.warning-box {
  background-color: #e6e6e6;
  padding: 1em; }

.headline, .subheadline, h2, h1 {
  margin: 0;
  padding: 0; }
  .headline small, .subheadline small, h2 small, h1 small {
    font-weight: normal; }

.subheadline, h2 {
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  border-bottom: 1px solid #e7d9ce; }

h1 {
  color: #918579; }

h2 {
  font-size: 1.5em; }

hr {
  border: 0;
  /*  background-image: url(sep.png); */
  background-color: #221f1c;
  height: 8px;
  margin: 55px 0 25px 0; }

header {
  padding: 1em; }
  header #logo img {
    width: 100%; }
  header p {
    color: #918579;
    font-size: 0.75em; }
  header h2 {
    font-size: 1em;
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0; }
  header h2 + p {
    margin-top: 0; }
  header nav dl dt {
    font-weight: bold;
    font-size: 0.75em;
    color: #3e3933; }
  header nav dl dd {
    margin-left: 1em; }

article {
  padding: 1em; }

footer {
  font-size: 0.675em;
  color: rgba(255, 255, 255, 0.85);
  margin: 2em auto 0 auto; }
  footer a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: underline; }
  footer p {
    margin: 0 0 0.25em 0; }

#main {
  width: 100%;
  padding: 1em;
  position: relative;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.56); }

.event .description {
  font-size: 0.75em; }
.event p {
  margin-top: 0; }

.person {
  max-width: 250px; }
  .person img.portrait {
    background-image: url(sep.png);
    padding: 5px;
    width: 100%; }

/** Responsive Styles **/
@media screen and (min-width: 768px) {
  header {
    float: left;
    width: 25%; }

  article {
    float: left;
    width: 75%; }

  .event .info {
    float: left;
    width: 35%; }
  .event .description {
    float: left;
    width: 65%;
    padding-left: 10%; } }
