/** Colors **/

$bg: #fafafa;
$text: rgba(0, 0, 0, 0.75);
$dim: lighten($text, 40);
$beige: #B48868;
$beige_hover: lighten($beige, 10);
$hr_color: lighten($beige, 30);
$warning: mix($bg, #ff0, 80);

/** Helpers **/

* {
  box-sizing: border-box;
}

// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none;
}

.textcenter {
  text-align: center;
}

.nolist {
  list-style: none;
  padding: 0;
}

.compactlines {
  line-height: 1.5em;
}

.align-right {
  float: right;
}

/** Styles **/

html {
  background-color: $bg;
  background-image: url(farben-grau.png);
  color: $text;
  font-family: Arial, sans-serif;
  line-height: 1.25em;
}

body {
  margin: 2%;
}

a {
  text-decoration: none;
  color: $beige;
}

a:hover {
  color: $beige_hover;
}

p:last-child {
  margin-bottom: 0;
}

.warning-box {
  background-color: $warning;
  padding: 1em;
}

.headline {
  margin: 0;
  padding: 0;
  small {
    font-weight: normal;
  }
}

.subheadline {
  @extend .headline;
  padding-bottom: 0.25em;
  margin-bottom: 1em;
  border-bottom: 1px solid $hr_color;

}

h1 {
  @extend .headline;
  color: lighten($text, 40);
}

h2 {
  @extend .subheadline;
  font-size: 1.5em;
}

hr {
  border: 0;
  background-image: url(sep.png);
  height: 4px;
}

header {
  padding: 1em;

  #logo {
    img {
      width: 100%;
    }
  }

  p {
    color: lighten($text, 40);
    font-size: 0.75em;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }

  h2 + p {
    margin-top: 0;
  }

  nav {
    dl {
      dt {
        font-weight: bold;
        font-size: 0.75em;
        color: lighten($text, 10);
      }
      dd {
        margin-left: 1em;
      }
    }
  }
}

article {
  padding: 1em;
}

footer {
  font-size: 0.675em;
  color: rgba(#fff, 0.85);
  margin: 2em auto 0 auto;
  a {
    color: rgba(#fff, 0.85);
    text-decoration: underline;
  }
  p {
    margin: 0 0 0.25em 0;
  }
}

#main {
  width: 100%;
  padding: 1em;
  position: relative;
  background-color: rgba($bg, 0.95);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.56);
}

.event {
  .description {
    font-size: 0.75em;
  }
  p {
    margin-top: 0;
  }
}

/** Responsive Styles **/

@media screen and (min-width: 768px) {

  header {
    float: left;
    width: 25%;
  }

  article {
    float: left;
    width: 75%;

  }

  .event {
    .info {
      float: left;
      width: 35%;
    }
    .description {
      float: left;
      width: 65%;
      padding-left: 10%;
    }
  }
}
